.card {
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  .img{
    display: block;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 14px;
  }
  .card:hover {
    border-radius: 8px;
    border: 1px solid #ddd;
    transform: translateY(-5px);
  }
  
  .title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 14px;
    background-color: #94ff57;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .sizesContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .sizesContainer:not(:last-child){
    margin-right: 12px;
  }
  .sizeCard {
    border-top: 1px solid #eee;
    padding: 10px 0;
  }
  

  .sizeCard p {
    margin: 5px 0;
    font-size: 14px;
    color: #444;
  }
  
  /* .title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  } */
  
  .sizeButtons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .sizeButton {
    background-color: inherit;
    border: 1px solid #ccc;
    border-radius: 25px;
    color: #ccc;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sizeButton:hover {
    background-color: #94ff57;
  }
  .sizeButton:not(:last-child){
margin-right: 10px;
  }
  .active {
    background-color: #b1ff33;
    color: white;
  }
.sizeDetails:not(:last-child){
margin-bottom: 8px;
}
  